<h2 class ="title">註冊</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Email -->
  <div class="field">
    <%= f.label :email %><br />
    <div class="control" >
      <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email", type: "email", placeholder: "Email input" %>
    </div>
  </div>
  
  <!-- Password -->
  <div class="field">
    <%= f.label :password%>
   
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
   
    <div class="control" >
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>
  </div>

  <!-- Password Confirm -->
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <div class="control" >
      <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
    </div>
  </div>

  <!-- Sign up button -->
  <div class="actions">
    <div class="control">
     <%= f.submit "註冊", class: "button is-light" %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>