<head>
  <meta charset="utf-8">
  <script src="https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js"></script>
</head>

<div class="box">
  
  <article class="media">

    <div class="media-left">

      <figure class="image is-64x64">
        <img src="https://fakeimg.pl/128x128/?text=CCH" alt="Image">
      </figure>

    </div>
    
    <div class="media-content">

      <div class="content">
      
        <strong><%= @payment_type %> USD <%= @fee %></span>
      
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>

      </div>

    </div>
    
  </article>

</div>


<body>

  <!-- 刷卡機表單 -->
  <%= form_with url: pay_users_path, id: "payment-form", method: "post", local:true do |form| %>

    <div id="dropin-container"></div>
    <%= link_to "重新考慮", pricing_users_path, class:"button is-primary" %>
    <button id="submit-button" class="button is-danger">結帳！</button>

  <% end %>
  
  <!-- <form id="payment-form" action="/route/on/your/server" method="post"> -->
    <!-- <div id="dropin-container"></div> -->
    <!-- <input type="submit" /> -->
    <!-- <input type="hidden" id="nonce" name="payment_method_nonce"/> -->
  <!-- </form> -->

  <script type="text/javascript">
    document.addEventListener("turbolinks:load", function(event){

      braintree.dropin.create({
          
        container: document.getElementById('dropin-container'),
        authorization: "<%= @client_token %>",
        container: '#dropin-container'
        })
        
        .then((dropinInstance) => {

        })
        
        .catch((error) => {

        });

    })
  </script>


</body>