<h1 class="title has-text-info">最近貓友們都在看...</h1>

<!-- upside -->
<section class="columns">
        
    <!-- left --> 
    <section class="column">
        
        <h2 class="title is-3"><%= @top1.title %></h2>
        
        <article>

            <% if @top1.cover_img.attached? %>
                <figure class="media-right"><%= image_tag @top1.cover_img.variant( resize: "150 x 150"), class: "cover-img" %></figure>
            <% end %>
            
            <p class="title is-5"><%= strip_tags(@top1.content).truncate(75) %></p>
            
            <footer>
                <p class="has-text-grey-dark"><%= @top1.user.username %></p>
                <p><%= @top1.created_at %></p> 
            </footer>
            
        </article>

    </section>
  

    <!-- middle_left -->
    <section class="column">

        <!-- Article 1 -->
        <article class="media">
        
        <% if @top2.cover_img.attached? %>
                <figure class="media-right"><%= image_tag @top2.cover_img.variant( resize: "150 x 150"), class: "cover-img" %></figure>
        <% end %>

        <div class="media-content">
            <h2 class="title is-3"><%= @top2.title %></h2>
            
            <p><%= strip_tags(@top2.content).truncate(50) %></p>

            <footer>
                <p><%= @top2.user.username %></p>
                <p><%= @top2.created_at %></p>
            </footer>
        </div>
        </article>

        <!-- Article 2 -->
        <article class="media">
        
        <% if @top3.cover_img.attached? %>
            <figure class="media-right"><%= image_tag @top3.cover_img.variant( resize: "150 x 150"), class: "cover-img" %></figure>
        <% end %>

        <div class="media-content">
            <h2 class="title is-3"><%= @top3.title %></h2>
            
            <p"><%= strip_tags(@top3.content).truncate(50) %></p>

            <footer>
                <p><%= @top3.user.username %></p>
                <p><%= @top3.created_at %></p>
            </footer>
        </div>
        </article>

    </section>

    <!-- middle_right -->
    <!-- <section class="column">
        
        <article>
        <figure class="image"><img src="https://fakeimg.pl/350x200/f0f0f0" alt=""></figure>
        <h2 class="title is-5">Creating a Pipeline to True Workplace Diversity</h2>
        
        <p class="content">Providing resources, offering acceptance, and involving people of color are keys to making your company more diverse...</p>
        
        <footer>
            <p>Arielle Wiltz in Modus</p>
            <p>Aug 7</p>
        </footer>
        </article>
    </section> -->

</section>

<hr>

<!-- bottom -->
<section class="columns">

    <!-- article list_left class="column is-two-thirds"-->
    <section class="column">

        <% @stories.each do |story| %>

        <article class="media">

            <% if story.cover_img.attached? %>
                <figure class="media-right"><%= image_tag story.cover_img.variant( resize: "250 x 250"), class: "cover-img" %></figure>
            <% end %>

            <div class="media-content">
                <h2 class="title is-4 has-text-primary"><%= link_to story.title, story_page_path(story.user.username, story), class: "has-text-grey-dark" %></h2>
                <p class="content"><%= strip_tags(story.content).truncate(150) %></p>
                <footer><p><%= link_to story.user.username, user_page_path(story.user.username), class: "has-text-grey-dark" %> | <%= story.created_at %></p></footer>
            </div>

        </article>
        <% end %>
    </section>

<!-- article list_right -->
<!-- <section class="column">
    
    <h2 class="title is-4">Popular on Medium</h2>
    <hr>

    <article class="media">
    <div class="media-left">01</div>
    <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
        <p>Thomas Oppong</p>
        </footer>
    </div>
    </article>

    <article class="media">
    <div class="media-left">02</div>
    <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
        <p>Thomas Oppong</p>
        </footer>
    </div>
    </article>

    <article class="media">
    <div class="media-left">03</div>
    <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
        <p>Thomas Oppong</p>
        </footer>
    </div>
    </article>

    <article class="media">
    <div class="media-left">04</div>
    <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
        <p>Thomas Oppong</p>
        </footer>
    </div>
    </article>

    <article class="media">
    <div class="media-left">05</div>
    <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
        <p>Thomas Oppong</p>
        </footer>
    </div>
    </article>
</section> -->
</section>