<section class="columns has-text-centered story-content">
    
    <section class="column is-offset-3 is-6">
        
        <h1 class="title"><%= @story.title %></h1>

        <span class="profile">
            
            <figure class="media-right">
                <%= image_tag @story.user.avatar.variant( resize: "50 x 50"), class: "avatar" if @story.user.avatar.attached? %>
            </figure>
            
            <span class="username"><%= @story.user.username %></span>
            <a href="#" class="follow-button">追蹤</a>
        </span>

        <article class="content">
            
            <figure class="media-right">
                <%= image_tag @story.cover_img.variant( resize: "1000 x 500"), class: "cover-img" if @story.cover_img.attached? %>
            </figure>
            
            <p><%= simple_format(@story.content) %></p>

            <footer>讚 0</footer>
        </article>
        
        <hr>

        <section class="comments">
            <h2>留言</h2>
            
            <%= render 'comment_area', story: @story, comment: @comment %>
            
            <section  class="comment-list">
                <%= render partial: 'comment', collection: @comments %>
            </section>
        </section>

    </section>

</section>