<section class="columns has-text-centered story-content">
    
    <section class="column is-offset-3 is-6">
        
        <h1 class="title"><%= @story.title %></h1>

        <span class="profile" data-controller = "user">
            
            <!-- 大頭貼 -->
            <figure class="media-right">
                <%= image_tag @story.user.avatar.variant( resize: "50 x 50"), class: "avatar" if @story.user.avatar.attached? %>
            </figure>
            
            <span class="username"><%= @story.user.username %></span>

            <!-- 追蹤作者按鈕 -->
            <%= link_to "#", class: 'follow-button', data:{ action:'user#follow', 
                                                            user: @story.user.id,
                                                            target: 'user.followButton' } do %>
                                                            
                 <%=  (user_signed_in? && current_user.follow?(@story.user)) ?  "追蹤中": "追蹤" %>             
             <% end %>

            <!-- 收藏故事  -->
             <%= link_to '#', class: 'bookmark-button', data: { action: 'user#bookmark', slug: @story.slug  } do %>
    
                <% if user_signed_in? && current_user.bookmark?(@story) %> 
                    <i class="fas fa-bookmark" data-target="user.bookmark"></i>
                <% else %>
                    <i class="far fa-bookmark" data-target="user.bookmark"></i>
                <% end %>

            <% end %>
        </span>

        <!-- 故事內容：圖 + 文 -->
        <article class="content">
            
            <figure class="media-right">
                <%= image_tag @story.cover_img.variant( resize: "500 x 250"), class: "cover-img" if @story.cover_img.attached? %>
            </figure>
            
            <p><%= simple_format(@story.content) %></p>

            <!-- Like for some story -->
            <footer data-controller="story">
                <%= link_to '#', class: 'likeButton', data:{ action: "story#addLike", slug: @story.slug} do %>
                    <i class="far fa-thumbs-up"></i>
                    <span class= "likeCounter" data-target="story.likeCounter"><%= @story.likes.count %></span>
              <% end %>
            </footer>

        </article>
        
        <hr>

        <!-- 留言區 / 留言列表 -->
        <section class="comments">
            <h2>留言</h2>
            
            <%= render 'comment_area', story: @story, comment: @comment %>
            
            <section  class="comment-list">
                <%= render partial: 'comment', collection: @comments %>
            </section>
        </section>

    </section>

</section>