<% if story.errors.any? %>
    <div class="notification is-primary"><%= story.errors.full_messages.to_sentence %></div>
<% end %>

<%= form_for story do |form| %>

    <%= form.label :title, "標題", class: "title" %> 
    <%= form.text_field :title, class: "input is-primary is-large" %>

    <%= form.label :content, "內文", class: "title" %>
    <%= form.text_area :content, class: "textarea is-primary is-large" %>

    <% if story.published? %>
        <%= form.submit '更新', name: 'save_as_draft', class: 'button is-medium'%>
    <% else %>
        <%= form.submit '儲存草稿', name: 'save_as_draft', class: 'button is-medium'%>
    <% end %>

  <%= form.submit '發佈文章', name: 'publish', class: 'button is-medium is-primary' if story.may_publish? %>
  <%= form.submit '文章下架', name: 'unpublish', class: 'button is-medium is-danger' if story.may_unpublish? %>

<% end %>